.prof-wrapper {
 position: absolute;
    top: 80%;
    width: 200px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 600;
}

.text{
    font-weight: 800;
    background: none;
    border: none;
    color: black;
}
.text:hover{
    background: none;
    color: #F2994A
}